{% extends 'base.html' %} {% block content %}
<div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h4 style="font-style: italic">Profile</h4>
      </div>
      <div class="col-8">
        <div>
          <p>
            Backend developer with experience in designing, enhancing and
            mantaning Django applications
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr style="height: 2px; background-color: black; border: none" noshade />
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 style="font-style: italic">Skills</h4>
      </div>
      <div class="col text-center">
        <h6>Database design</h6>
        <p>
          organizing data according to a database model and determining what
          data must be stored and how the data elements interrelate
        </p>
      </div>
      <div class="col text-center">
        <h6>API design</h6>
        <p>
          developing application programming interfaces (APIs) that expose data
          and application functionality for use by other developers
        </p>
      </div>
    </div>
  </div>
  <hr style="height: 2px; background-color: black; border: none" noshade />
  <div class="container">
    <div class="row">
        <div class="col">
            <h4 style="font-style: italic">Technical Skills</h4>
        </div>
        <div class="col">
            <h6>Django</h6>
            <p>level: Intermediate</p>
        </div>
        <div class="col">
            <h6>PostgreSQL</h6>
            <p>level: Intermediate</p>
        </div>
        <div class="col">
            <h6>SQL</h6>
            <p>level: Intermediate</p>
        </div>
        <div class="col">
            <h6>Mongo DB</h6>
            <p>level: Intermediate</p>
        </div>
    </div>
  </div>
  <hr style="height: 2px; background-color: black; border: none" noshade />
  
  <div class="container">
    <div class="row">
        <div class="col">
        <h4 style="font-style: italic">Education</h4>
      </div>
        <div class="col">
        <h6>Jomo Kenyatta University Of Agriculture And Technology</h6>
        <p>Bsc Information Technology</p>
      </div>
    </div>
  </div>
  <hr style="height: 2px; background-color: black; border: none" noshade />
  
</div>
{% endblock content %}
